@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f8f9fa;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.welcome-text {
    font-weight: 700;
    opacity: 0.8;
}
.section-card {
    background-color: #e9ecef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.section-card h5 {
    margin-bottom: 20px;
    font-weight: 800;
}
.section-card p {
    margin-bottom: 20px;
}
.section-card a {
    display: block;
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    color: #0F9C89;
    border-bottom: 1px solid #ced4da;
    font-size: 20px;
    font-weight: 500;
}
.section-card a:hover {
    background-color: #e9ecef;
    border: 1px solid #ced4da !important;
    /* border-bottom: #ced4da; */
}
.btn-need-help {
    margin-top: 20px;
    text-align: center;
    color: #0F9C89;
    font-weight: bold;
    display: block;
    font-size: 24px;
    text-decoration: none;
}